section(class="container-registro ed-container")
    div(class="ed-item s-1 l-50")
        div(class="container-registro__title")
            h1(class="container-registro__h1") REGISTRARSE 
            a(class="container-registro__link" href="#" id="btnloginR") O iniciar sesión
        iframe(class="container-registro__iframe" src="https://betslip.moneybet.ag/sign-up?lang=es")
    div(class="ed-item s-0 l-50")
        img(src="assets/img/sign and register/fondo--formulario.jpg", alt="image registro")
