extends ../config/template
append config
	-currentPage		= "Reglas-Casa"
	-siteName			= 'MoneyBet' 
	-content			= 'content'
	-pageDescription	= 'Pagina de reglas de la casa de MoneyBet'
block main-header
block main-container
	include ../components/link-reglascasa
block main-footer
block scripts 